<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luck Management Corp">
    <meta name="author" content="Thomas Yang">

    <title>LUCK Management</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
<body>
  <div class='container'>
    <div class='col-offset-1'>
      <h1><strong>LUCK</strong><em>management</em></h1>
      <span><a href="http://www.luckmgmt.com">www.luckmgmt.com</a></span> // <span><a href="mailto:info@luckmgmt.com">info@luckmgmt.com</a></span> // <span>1.866.69.<strong>LUCK</strong>M</span>
    </div><!-- header -->
    <div class='col-offset-1'>
      <%= yield %>
    </div>

  <%= render 'layouts/googleanalytics' %>

</body>
</html>
